
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide
Axilox/.vs/Axilox/v16/Server/sqlite3/db.lock
Axilox/.vs/Axilox/v16/.suo
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide-wal
*.ide-wal
Axilox/obj/Debug/netcoreapp3.1/Axilox.csproj.FileListAbsolute.txt
*.ide-wal
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide-wal
Axilox/bin/Debug/netcoreapp3.1/Axilox.deps.json
Axilox/bin/Debug/netcoreapp3.1/Axilox.dll
*.pdb
Axilox/obj/Debug/netcoreapp3.1/Axilox.exe
Axilox/obj/Debug/netcoreapp3.1/Axilox.dll
Axilox/obj/Debug/netcoreapp3.1/Axilox.csprojAssemblyReference.cache
Axilox/bin/Debug/netcoreapp3.1/Axilox.runtimeconfig.json
Axilox/bin/Debug/netcoreapp3.1/Axilox.runtimeconfig.dev.json
Axilox/bin/Debug/netcoreapp3.1/Axilox.exe
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide-wal
Axilox/obj/Debug/netcoreapp3.1/Axilox.csprojAssemblyReference.cache
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide-wal
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide-wal
