
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide
Axilox/.vs/Axilox/v16/Server/sqlite3/db.lock
Axilox/.vs/Axilox/v16/.suo
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide-wal
*.ide-wal
Axilox/obj/Debug/netcoreapp3.1/Axilox.csproj.FileListAbsolute.txt
*.ide-wal
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide-wal
Axilox/bin/Debug/netcoreapp3.1/Axilox.deps.json
Axilox/bin/Debug/netcoreapp3.1/Axilox.dll
*.pdb
Axilox/obj/Debug/netcoreapp3.1/Axilox.exe
Axilox/obj/Debug/netcoreapp3.1/Axilox.dll
Axilox/obj/Debug/netcoreapp3.1/Axilox.csprojAssemblyReference.cache
Axilox/bin/Debug/netcoreapp3.1/Axilox.runtimeconfig.json
Axilox/bin/Debug/netcoreapp3.1/Axilox.runtimeconfig.dev.json
Axilox/bin/Debug/netcoreapp3.1/Axilox.exe
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide-wal
Axilox/obj/Debug/netcoreapp3.1/Axilox.csprojAssemblyReference.cache
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide-wal
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide-wal
Axilox/obj/Debug/netcoreapp3.1/Axilox.csprojAssemblyReference.cache
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide-wal
Axilox/.vs/Axilox/v16/Server/sqlite3/storage.ide-shm
Axilox/.vs/Axilox/DesignTimeBuild/.dtbcache
Axilox/obj/Axilox.csproj.nuget.cache
Axilox/obj/Axilox.csproj.nuget.dgspec.json
Axilox/obj/Debug/netcoreapp3.1/Axilox.csproj.CopyComplete
Axilox/obj/Debug/netcoreapp3.1/Axilox.csprojAssemblyReference.cache
Axilox/obj/project.assets.json
GameLogic/bin/Debug/netstandard2.0/GameLogic.deps.json
GameLogic/bin/Debug/netstandard2.0/GameLogic.dll
Axilox/obj/Axilox.csproj.nuget.cache
Axilox/obj/Axilox.csproj.nuget.dgspec.json
Axilox/obj/Debug/netcoreapp3.1/Axilox.csprojAssemblyReference.cache
Axilox/obj/project.assets.json
Axilox/bin/Debug/netcoreapp3.1/GameLogic.dll
Axilox/obj/Axilox.csproj.nuget.cache
Axilox/obj/Axilox.csproj.nuget.dgspec.json
Axilox/obj/Debug/netcoreapp3.1/Axilox.csprojAssemblyReference.cache
Axilox/obj/project.assets.json
